.default-nav {
	padding: 50px 0;
	float: left;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: 0 0 0 10px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 18px;
			line-height: 1;
			float: left;

			a:link,
			a:visited {
				padding: 5px 20px 3px;
				color: $color-brand2;
			}

			a:hover,
			a:focus {
				color: $color-brand1;
				text-decoration: none;
			}

			&.active {
				a:link,
				a:visited {
					background: $color-brand1;
					color: #fff;
				}
			}
		}
	}
}