.default-meta {
	float: right;

	@include breakpoint(899px) {
		display: none;
	}

	ul {
		@include pie-clearfix;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0 0 0 20px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			float: left;

			&:first-child {
				padding-left: 0;
			}

			a:link,
			a:visited {
				color: $color-brand2;
			}

			a:hover,
			a:focus {
				color: $color-brand1;
				text-decoration: none;
			}
		}
	}
}