@mixin content {
	background: #fff;
	overflow: hidden;

	p:last-child {
		margin: 0;
	}

	.content-wrapper {
		.csc-default,
		.csc-frame {
			margin: 0 0 30px 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	.row > div {
		@include breakpoint(992px) {
			margin-top: 40px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	@media print {
		& {
			background: none;
		}
	}
}

.default-content {
	@include content;

	.slick-slide img {
		display: inline-block;
	}
}

.detail-content {
	@include content;

	.content-wrapper {
		max-width: 900px;
		line-height: 170%;
	}
}

.gold-content {
	@include content;
	background: $color-brand1;
	color: $color-brand2;

	a {
		&:link,
		&:visited {
			color: $color-brand2;
		}

		&:hover,
		&:focus {
			color: #000;
		}
	}

	h2 {
		padding: 5px 20px;
		display: inline-block;
		background: $color-brand2;
		color: #fff;
	}
}

.search-content {
	@include content;
}
