.default-footer {
	padding: 35px 0;
	background: #fff;
	border-top: 1px solid #f0f0f0;

	@include breakpoint-min(899px) {
		padding: 50px 0;
	}

	h2 {
		margin: 0 0 20px 0;
		color: #fff;
	}

	.row > div {
		@include breakpoint(992px) {
			margin-top: 40px;

			&:first-child {
				margin-top: 0;
			}
		}
	}

	@media print {
		& {
			display: none;
			background: none;
		}
	}

	a:link,
	a:visited {
		color: $color-brand2;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.copyright-footer {
	padding: 30px 0;
	background: #f1f1f1;
	font-size: 14px;
	text-align: center;
}