.default-header {
	@include pie-clearfix;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,.4);
	z-index: 200;

	.default-logo {
		padding: 15px 30px;
		display: inline-block;
		background: $color-brand1;
		float: right;

		img {
			display: block;
		}
	}
}