.default-hero {
	width: 100%;
	background-color: #fff;
	background-size: cover;
	background-position: center center;

	.image-wrap {
		margin: 0;

		img {
			display: block;
		}
	}

	// Map
	#map_canvas{
		width: 100%;
		height: 550px;

		img {
			max-width: none;
		}
	}

	@media print {
		& {
			display: none;
		}
	}
}

.detail-hero {
	padding: 90px 0 100px 0;
	background: $color-brand1;

	h1 {
		margin: 0;
		font-weight: 300;
		text-align: center;
		line-height: 1.375;
		color: #fff;

		@include breakpoint-min($middle) {
			font-size: 50px;
		}
	}

	@media print {
		& {
			display: none;
		}
	}
}

.search-hero {
	height: 600px;

	.search-content-hero {
		@include wrapper;
		position: relative;
		top: 50%;
		transform: translate(0, -50%);
		color: #fff;

		.inner {
			max-width: 600px;

			h1 {
				color: #fff;
				font-size: 40px;
			}

			p {
				font-size: 20px;
			}

			input {
				color: $color-brand2;

				&[type="submit"] {
					color: #fff;
				}
			}
		}
	}
}