@mixin wrapper() {
	width: 94%;
	max-width: 1140px;
	margin: auto;
	position: relative;
}

.default-wrapper {
	@include wrapper;
}

.content-wrapper {
	@include wrapper;
	padding: 35px 0;

	@include breakpoint-min(899px) {
		padding: 90px 0;
	}
}

.news-wrapper {
	@include wrapper;
	padding: 35px 0;
	z-index: 20;

	@include breakpoint-min(899px) {
		padding: 60px 0;
	}
}

.search-wrapper {
	@include wrapper;
}

.news-single-wrapper {
	@include wrapper;
	max-width: 900px;
	padding: 35px 0;

	@include breakpoint-min(899px) {
		padding: 90px 0;
	}
}
