* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

html {
	height: 100%;
}

body {
	background-color: #f1f1f1;
	color: $color-brand2;

	@media print {
		& {
			background: none;
		}
	}
}

::selection {
	color: #fff;
	background: $color-brand1;
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
	margin: 0 0 30px;
}

h1, h2, h3 {
	margin: 0;
	color: $color-brand1;
	font-weight: normal;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

a:link,
a:visited {
	color: $color-brand1;
	text-decoration: none;
	transition: .4s;
}

a:hover,
a:focus {
	text-decoration: underline;
}

hr {
	width: 100%;
	height: 1px;
	margin: 0;
	border: 0;
	background: #ccc;

	.styleguide & {
		margin: 40px 0;
	}
}

.text {
	&-center {
		text-align: center;

		p {
			max-width: none;
		}
	}

	&-right {
		text-align: right;
	}
}

p {
	max-width: 900px;
	margin: 0 0 20px 0;
}

img {
	max-width: 100%;
	height: auto;

	// TYPO3 render svg attr width and height = 0
	// https://forge.typo3.org/issues/62940
	&[src$='.svg'] {
		width: 100%;
	}
}

iframe {
	max-width: 100%;
	border: 0;
}

figure {
	margin: 0;

	.csc-textpic-center & {
		margin: 20px 0 !important;
		text-align: center;

		figcaption {
			text-align: center;
		}
	}

	figcaption {
		padding: 10px 0;
		font-style: italic;
		font-size: 14px;
	}
}

// BASE PAGE-WRAP
#page {}

// BASE DEFINITIONS
form {
	@include pie-clearfix;
	margin: 0;
	padding: 0;

	label {
		margin: 0 0 5px 0;
		display: block;
		font-weight: bold;
		cursor: pointer;
	}

	input,
	textarea {
		width: 100%;
		margin: 0 0 18px 0;
		padding: 14px 25px;
		border: none;
		background: #fff;
		color: $color-brand2;

		&:focus {
			outline: none;
			border: none;
			background: darken(#fff, 2);
		}
	}

	input[type="submit"],
	button[type="submit"]{
		margin: 0;
		padding: 10px 25px;
		display: inline-block;
		border: 1px solid #ccc;
		outline: none;
		font-size: 16px;
		font-weight: bold;
	}

	textarea {
		width: 100%;
		min-height: 200px;
	}

	@media print {
		& {
			padding: 0;
		}
	}
}

button {
	margin: 0;
	padding: 10px 25px;
	display: inline-block;
	border: 0;
	outline: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;

	&:disabled {
		opacity: .5;
	}
}

ul {
	padding: 0 0 0 14px;
	list-style-type: square;
}
