$color-page-background: #fff;

$color-navigation-main-background: #E37D38;
$color-navigation-main-font: #FFFFFF;

$color-button-default-background: #FFFFFF;
$color-button-default-border: #CCCCCC;

$color-brand1: #DF1010;
$color-brand2: #4B4B4B;
$color-brand3: #2A72C6;
$color-brand4: #FFFFFF;
$color-brand-5: #D9D9D9;
$color-brand-6: green;
$color-brand-7: darkcyan;

$color-footer: #434342;

$color-popover-border: #AAA;
