$grid-columns: 12 !default;
$grid-percent: 100% / $grid-columns !default;
$grid-gutter: 50px !default;

$grid-breakpoint-sm: 600px !default;
$grid-breakpoint-md: 992px !default;

@mixin row() {
	@include pie-clearfix;
	margin-left: -($grid-gutter / 2);
	margin-right: -($grid-gutter / 2);
}

.row {
	@include row;
}

@each $size in xsmall, small, medium {
	$grid-breakpoint: 0;

	@if $size == xsmall {
		$grid-breakpoint: 0px;
	}
	@else if $size == small {
		$grid-breakpoint: $grid-breakpoint-sm;
	}
	@else if $size == medium {
		$grid-breakpoint: $grid-breakpoint-md;
	}

	@for $i from 0 through $grid-columns - 1 {
		$x: $grid-columns - $i;

		@include breakpoint-min($grid-breakpoint) {
			.column-#{$size}-#{$x} {
				width: $grid-percent * $x;
				padding: 0 ($grid-gutter / 2);
				float: left;
			}
		}
	}
}
