$x-large: 1100px;
$large: 960px;
$middle: 720px;
$small: 480px;

@mixin pie-clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	*zoom: 1;
}

/* === Breakpoints === */
@mixin breakpoint($point) {
	@if $point != retina {
		@media only screen and (max-width: $point) {
			@content;
		}
	}
	@elseif $point == retina {
		@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (-o-min-device-pixel-ratio: 5/4) {
			@content;
		}
	}
}

@mixin breakpoint-min($point) {
	@media only screen and (min-width: $point) {
		@content;
	}
}