@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300italic,400,400italic,500,500italic,700,700italic');

$font-size-base: 16px;
$line-height-base: 1;

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: $font-size-base;
	line-height: 1.375;
	-webkit-font-smoothing: antialiased;
}