@mixin button-no-icon() {
	text-decoration: none;
	color: #FFF;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	font-weight: bold;
	background: $color-brand1;
	transition: .4s;

	&:link,
	&:visited {
		margin: 0 0 1px 0;
		padding: 10px 25px;
		display: inline-block;
		color: #fff;
	}

	&:hover,
	&:focus{
		background: darken($color-brand1, 10%);
		text-decoration: none;
	}

	@media print {
		& {
			display: none !important;
		}
	}
}

@mixin button() {
	@include button-no-icon;

	&::after {
		// @include inline-svg($arrow-upper-right);
		content: '';
		display: inline-block;
	}
}

.default-button {
	@include button;

	&-no-icon {
		@include button-no-icon;
	}
}

.default-button-standard {
	@include button-no-icon;
	background: $color-brand2;

	&:hover,
	&:focus {
		background: lighten($color-brand2, 20%);
	}
}
