@mixin form {
	label {
		display: none;

		textarea {
			margin-top: 10px;
		}
	}

	input,
	textarea {
		&.parsley-error {
			border-color: #C0392A;
		}
	}

	input[type="submit"],
	button {
		@include button-no-icon;
		width: auto;
		border: 0;
		outline: none;
		background: $color-brand2;

		&:hover,
		&:focus {
			background: #000;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.parsley-errors-list li,
	.comment_error,
	.validation-error {
		background: #C0392A;
		color: #fff;
		padding: 5px 12px;
		position: relative;
	}

	.parsley-errors-list li,
	.comment_error {
		top: -18px;
	}

	::-webkit-input-placeholder { color: $color-brand1; }
	:-moz-placeholder { color: $color-brand1; }
	::-moz-placeholder { color: $color-brand1; }
	:-ms-input-placeholder { color: $color-brand1; }
}

.default-form {
	@include form;
}

.powermail_form {
	@include form;

	.powermail_fieldset {
		margin: 0;
		padding: 0;
		border: none;

		> .powermail_legend {
			display: none;
		}
	}

	.powermail_fieldwrap_input {
		@include breakpoint-min($middle) {
			width: 49%;
			float: left;

			&.powermail_fieldwrap_2 {
				margin: 0 0 0 2%;
			}

			input {
				width: 100%;
			}
		}
	}

	.powermail_fieldwrap_textarea ul li {
		top: -23px;
	}
}

.indexedsearch-form {
	@include form;
	padding: 0 !important;
	background: none;

	input {
		padding: 18px 30px;
		border: 0;
		background: rgba(255,255,255,.5);
		transition: .4s;
		font-size: 20px;

		&:focus {
			border: 0;
			background: rgba(255,255,255,.8);
		}
	}

	button[type="submit"] {
		padding: 10px 30px;
		border: 0;
		font-size: 20px;
	}

	::-webkit-input-placeholder { color: $color-brand2; }
	:-moz-placeholder { color: $color-brand2; }
	::-moz-placeholder { color: $color-brand2; }
	:-ms-input-placeholder { color: $color-brand2; }
}