{# layout.twig #}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<link rel="stylesheet" href="/assets/css/main.min.css">
</head>
<body>

	<div id="page">
		<header class="default-header">
			<div class="default-wrapper">
				<nav class="default-nav">
					<ul>
						<li class="active"><a href="#">Startseite</a></li>
						<li><a href="#">Abteilungen</a></li>
						<li><a href="#">Fachgruppen</a></li>
						<li><a href="#">Neuigkeiten</a></li>
						<li><a href="#">Sonstiges</a></li>
					</ul>
				</nav>
				<a class="default-logo" href="#">
					<img src="/assets/images/ffbs.png" alt="">
				</a>
			</div>
		</header>

		<div class="default-hero">
			<img src="/assets/images/hero_g.jpg" alt="">
		</div>

		<main class="main">
			{% block main %}{% endblock %}
		</main>

		<footer class="default-footer">
			<div class="footer-wrapper">
				Logo
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="/assets/js/main.min.js"></script>
</body>
</html>